- Next.jsのV15で、App Routerを使ってください。
- 基本的にコンポーネントはすべて "user client" で作成し、バックエンドはRouteHandlerで実行してください。
- APIのデータフェッチとステート管理は、src/app/_hooks/useFetch.tsを用いて、それをラップした、useHoge.tsを作成してください。例: src/app/_hooks/useQuestion.ts
- その他のAPIリクエスト（PUT, POST, DELTE）は、src/app/_utils/api.tsを用いてください。
- UIはTailwindCSSを用いてください。
- バックエンドのroute.tsで、ログインユーザーの認可処理は、src/app/api/_utils/getCurrentUser.tsを用いてください。
- できるだけコンポーネントは細かく分割し、同ディレクトリ内に、_componentsディレクトリや、_hooks、_utilsディレクトリを作成してください。
- バックエンド実装時は、常に prisma/schema.prisma を参照してください。
- APIのリクエストボディとレスポンスボディのTypeScriptの型情報は、バックエンドのroute.ts内で定義して、フロントエンドでもその型を参照する様にして、型を常に共通化してください。
